Repository exercism/arturo, pull requests merged in 2024-05, with the labels that each got.

#3 Fill out track config with initial values
  config.json
Labels: x:rep/tiny

#4 Add hello-world
  config.json
  exercises/practice/hello-world/.docs/instructions.md
  exercises/practice/hello-world/.meta/config.json
  exercises/practice/hello-world/.meta/src/example.art
  exercises/practice/hello-world/.meta/tests.toml
  exercises/practice/hello-world/src/hello-world.art
  exercises/practice/hello-world/tester.art
  exercises/practice/hello-world/tests/test-hello-world.art
Labels: x:rep/small, x:module/practice-exercise

#5 Add two-fer
  config.json
  exercises/practice/two-fer/.docs/instructions.md
  exercises/practice/two-fer/.docs/introduction.md
  exercises/practice/two-fer/.meta/config.json
  exercises/practice/two-fer/.meta/src/example.art
  exercises/practice/two-fer/.meta/tests.toml
  exercises/practice/two-fer/src/two-fer.art
  exercises/practice/two-fer/tester.art
  exercises/practice/two-fer/tests/test-two-fer.art
Labels: x:module/practice-exercise, x:rep/large

#6 Add resistor-color-duo
  config.json
  exercises/practice/resistor-color-duo/.docs/instructions.md
  exercises/practice/resistor-color-duo/.meta/config.json
  exercises/practice/resistor-color-duo/.meta/src/example.art
  exercises/practice/resistor-color-duo/.meta/tests.toml
  exercises/practice/resistor-color-duo/src/resistor-color-duo.art
  exercises/practice/resistor-color-duo/tester.art
  exercises/practice/resistor-color-duo/tests/test-resistor-color-duo.art
Labels: x:module/practice-exercise, x:rep/large

#7 Add pangram
  config.json
  exercises/practice/pangram/.docs/instructions.md
  exercises/practice/pangram/.docs/introduction.md
  exercises/practice/pangram/.meta/config.json
  exercises/practice/pangram/.meta/src/example.art
  exercises/practice/pangram/.meta/tests.toml
  exercises/practice/pangram/src/pangram.art
  exercises/practice/pangram/tester.art
  exercises/practice/pangram/tests/test-pangram.art
Labels: x:module/practice-exercise, x:rep/large

#8 Add leap
  config.json
  exercises/practice/leap/.docs/instructions.md
  exercises/practice/leap/.docs/introduction.md
  exercises/practice/leap/.meta/config.json
  exercises/practice/leap/.meta/src/example.art
  exercises/practice/leap/.meta/tests.toml
  exercises/practice/leap/src/leap.art
  exercises/practice/leap/tester.art
  exercises/practice/leap/tests/test-leap.art
Labels: x:module/practice-exercise, x:rep/large

#9 Add dnd-character
  config.json
  exercises/practice/dnd-character/.docs/instructions.md
  exercises/practice/dnd-character/.docs/introduction.md
  exercises/practice/dnd-character/.meta/config.json
  exercises/practice/dnd-character/.meta/src/example.art
  exercises/practice/dnd-character/.meta/tests.toml
  exercises/practice/dnd-character/src/dnd-character.art
  exercises/practice/dnd-character/tester.art
  exercises/practice/dnd-character/tests/test-dnd-character.art
Labels: x:module/practice-exercise, x:rep/large

#10 Add darts
  config.json
  exercises/practice/darts/.docs/instructions.md
  exercises/practice/darts/.meta/config.json
  exercises/practice/darts/.meta/src/example.art
  exercises/practice/darts/.meta/tests.toml
  exercises/practice/darts/src/darts.art
  exercises/practice/darts/tester.art
  exercises/practice/darts/tests/test-darts.art
Labels: x:module/practice-exercise, x:rep/large

#21 Add `rna-transcription` exercise
  config.json
  exercises/practice/rna-transcription/.docs/instructions.md
  exercises/practice/rna-transcription/.docs/introduction.md
  exercises/practice/rna-transcription/.meta/config.json
  exercises/practice/rna-transcription/.meta/src/example.art
  exercises/practice/rna-transcription/.meta/tests.toml
  exercises/practice/rna-transcription/src/rna-transcription.art
  exercises/practice/rna-transcription/tester.art
  exercises/practice/rna-transcription/tests/test-rna-transcription.art
Labels: x:module/practice-exercise, x:rep/large

#30 Add `resistor-color` exercise
  config.json
  exercises/practice/resistor-color/.docs/instructions.md
  exercises/practice/resistor-color/.meta/config.json
  exercises/practice/resistor-color/.meta/src/example.art
  exercises/practice/resistor-color/.meta/tests.toml
  exercises/practice/resistor-color/src/resistor-color.art
  exercises/practice/resistor-color/tester.art
  exercises/practice/resistor-color/tests/test-resistor-color.art
Labels: x:module/practice-exercise, x:rep/large

#40 Update variables in resistor-color tests
  exercises/practice/resistor-color/tests/test-resistor-color.art
Labels: x:rep/tiny

#23 Add `collatz-conjecture` exercise
  config.json
  exercises/practice/collatz-conjecture/.docs/instructions.md
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/collatz-conjecture/.meta/src/example.art
  exercises/practice/collatz-conjecture/.meta/tests.toml
  exercises/practice/collatz-conjecture/src/collatz-conjecture.art
  exercises/practice/collatz-conjecture/tester.art
  exercises/practice/collatz-conjecture/tests/test-collatz-conjecture.art
Labels: x:module/practice-exercise, x:rep/large

#24 Add `bob` exercise
  config.json
  exercises/practice/bob/.docs/instructions.md
  exercises/practice/bob/.docs/introduction.md
  exercises/practice/bob/.meta/config.json
  exercises/practice/bob/.meta/src/example.art
  exercises/practice/bob/.meta/tests.toml
  exercises/practice/bob/src/bob.art
  exercises/practice/bob/tester.art
  exercises/practice/bob/tests/test-bob.art
Labels: x:module/practice-exercise, x:rep/large

#25 Add `high-scores` exercise
  config.json
  exercises/practice/high-scores/.docs/instructions.md
  exercises/practice/high-scores/.meta/config.json
  exercises/practice/high-scores/.meta/src/example.art
  exercises/practice/high-scores/.meta/tests.toml
  exercises/practice/high-scores/src/high-scores.art
  exercises/practice/high-scores/tester.art
  exercises/practice/high-scores/tests/test-high-scores.art
Labels: x:module/practice-exercise, x:rep/large

#27 Add `raindrops` exercise
  config.json
  exercises/practice/raindrops/.docs/instructions.md
  exercises/practice/raindrops/.docs/introduction.md
  exercises/practice/raindrops/.meta/config.json
  exercises/practice/raindrops/.meta/src/example.art
  exercises/practice/raindrops/.meta/tests.toml
  exercises/practice/raindrops/src/raindrops.art
  exercises/practice/raindrops/tester.art
  exercises/practice/raindrops/tests/test-raindrops.art
Labels: x:module/practice-exercise, x:rep/large

#29 Add `isogram` exercise
  config.json
  exercises/practice/isogram/.docs/instructions.md
  exercises/practice/isogram/.meta/config.json
  exercises/practice/isogram/.meta/src/example.art
  exercises/practice/isogram/.meta/tests.toml
  exercises/practice/isogram/src/isogram.art
  exercises/practice/isogram/tester.art
  exercises/practice/isogram/tests/test-isogram.art
Labels: x:module/practice-exercise, x:rep/large

#32 Add `series` exercise
  config.json
  exercises/practice/series/.docs/instructions.md
  exercises/practice/series/.meta/config.json
  exercises/practice/series/.meta/src/example.art
  exercises/practice/series/.meta/tests.toml
  exercises/practice/series/src/series.art
  exercises/practice/series/tester.art
  exercises/practice/series/tests/test-series.art
Labels: x:module/practice-exercise, x:rep/large

#35 Add `armstrong-numbers` exercise
  config.json
  exercises/practice/armstrong-numbers/.docs/instructions.md
  exercises/practice/armstrong-numbers/.meta/config.json
  exercises/practice/armstrong-numbers/.meta/src/example.art
  exercises/practice/armstrong-numbers/.meta/tests.toml
  exercises/practice/armstrong-numbers/src/armstrong-numbers.art
  exercises/practice/armstrong-numbers/tester.art
  exercises/practice/armstrong-numbers/tests/test-armstrong-numbers.art
Labels: x:module/practice-exercise, x:rep/large

#28 Add `gigasecond` exercise
  config.json
  exercises/practice/gigasecond/.docs/instructions.md
  exercises/practice/gigasecond/.docs/introduction.md
  exercises/practice/gigasecond/.meta/config.json
  exercises/practice/gigasecond/.meta/src/example.art
  exercises/practice/gigasecond/.meta/tests.toml
  exercises/practice/gigasecond/src/gigasecond.art
  exercises/practice/gigasecond/tester.art
  exercises/practice/gigasecond/tests/test-gigasecond.art
Labels: x:module/practice-exercise, x:rep/large

#51 Add `eliuds-eggs` exercise
  config.json
  exercises/practice/eliuds-eggs/.docs/instructions.md
  exercises/practice/eliuds-eggs/.docs/introduction.md
  exercises/practice/eliuds-eggs/.meta/config.json
  exercises/practice/eliuds-eggs/.meta/src/example.art
  exercises/practice/eliuds-eggs/.meta/tests.toml
  exercises/practice/eliuds-eggs/src/eliuds-eggs.art
  exercises/practice/eliuds-eggs/tester.art
  exercises/practice/eliuds-eggs/tests/test-eliuds-eggs.art
Labels: x:module/practice-exercise, x:rep/large

#37 Add `sum-of-multiples` exercise
  config.json
  exercises/practice/sum-of-multiples/.docs/instructions.md
  exercises/practice/sum-of-multiples/.docs/introduction.md
  exercises/practice/sum-of-multiples/.meta/config.json
  exercises/practice/sum-of-multiples/.meta/src/example.art
  exercises/practice/sum-of-multiples/.meta/tests.toml
  exercises/practice/sum-of-multiples/src/sum-of-multiples.art
  exercises/practice/sum-of-multiples/tester.art
  exercises/practice/sum-of-multiples/tests/test-sum-of-multiples.art
Labels: x:module/practice-exercise, x:rep/large

#53 Add `reverse-string` exercise
  config.json
  exercises/practice/reverse-string/.docs/instructions.md
  exercises/practice/reverse-string/.docs/introduction.md
  exercises/practice/reverse-string/.meta/config.json
  exercises/practice/reverse-string/.meta/src/example.art
  exercises/practice/reverse-string/.meta/tests.toml
  exercises/practice/reverse-string/src/reverse-string.art
  exercises/practice/reverse-string/tester.art
  exercises/practice/reverse-string/tests/test-reverse-string.art
Labels: x:module/practice-exercise, x:rep/large

#52 Add `prime-factors` exercise
  config.json
  exercises/practice/prime-factors/.docs/instructions.md
  exercises/practice/prime-factors/.meta/config.json
  exercises/practice/prime-factors/.meta/src/example.art
  exercises/practice/prime-factors/.meta/tests.toml
  exercises/practice/prime-factors/src/prime-factors.art
  exercises/practice/prime-factors/tester.art
  exercises/practice/prime-factors/tests/test-prime-factors.art
Labels: x:module/practice-exercise, x:rep/large

#36 Add `hamming` exercise
  config.json
  exercises/practice/hamming/.docs/instructions.md
  exercises/practice/hamming/.meta/config.json
  exercises/practice/hamming/.meta/src/example.art
  exercises/practice/hamming/.meta/tests.toml
  exercises/practice/hamming/src/hamming.art
  exercises/practice/hamming/tester.art
  exercises/practice/hamming/tests/test-hamming.art
Labels: x:module/practice-exercise, x:rep/large

#50 Add `difference-of-squares` exercise
  config.json
  exercises/practice/difference-of-squares/.docs/instructions.md
  exercises/practice/difference-of-squares/.meta/config.json
  exercises/practice/difference-of-squares/.meta/src/example.art
  exercises/practice/difference-of-squares/.meta/tests.toml
  exercises/practice/difference-of-squares/src/difference-of-squares.art
  exercises/practice/difference-of-squares/tester.art
  exercises/practice/difference-of-squares/tests/test-difference-of-squares.art
Labels: x:module/practice-exercise, x:rep/large

#31 Add `nucleotide-count` exercise
  config.json
  exercises/practice/nucleotide-count/.docs/instructions.md
  exercises/practice/nucleotide-count/.meta/config.json
  exercises/practice/nucleotide-count/.meta/src/example.art
  exercises/practice/nucleotide-count/.meta/tests.toml
  exercises/practice/nucleotide-count/src/nucleotide-count.art
  exercises/practice/nucleotide-count/tester.art
  exercises/practice/nucleotide-count/tests/test-nucleotide-count.art
Labels: x:module/practice-exercise, x:rep/large

#54 Add `largest-series-product` exercise
  config.json
  exercises/practice/largest-series-product/.docs/instructions.md
  exercises/practice/largest-series-product/.docs/introduction.md
  exercises/practice/largest-series-product/.meta/config.json
  exercises/practice/largest-series-product/.meta/src/example.art
  exercises/practice/largest-series-product/.meta/tests.toml
  exercises/practice/largest-series-product/src/largest-series-product.art
  exercises/practice/largest-series-product/tester.art
  exercises/practice/largest-series-product/tests/test-largest-series-product.art
Labels: x:module/practice-exercise, x:rep/large

#59 Add `etl` exercise
  config.json
  exercises/practice/etl/.docs/instructions.md
  exercises/practice/etl/.docs/introduction.md
  exercises/practice/etl/.meta/config.json
  exercises/practice/etl/.meta/src/example.art
  exercises/practice/etl/.meta/tests.toml
  exercises/practice/etl/src/etl.art
  exercises/practice/etl/tester.art
  exercises/practice/etl/tests/test-etl.art
Labels: x:module/practice-exercise, x:rep/large

#58 Add `yacht` exercise
  config.json
  exercises/practice/yacht/.docs/instructions.md
  exercises/practice/yacht/.docs/introduction.md
  exercises/practice/yacht/.meta/config.json
  exercises/practice/yacht/.meta/src/example.art
  exercises/practice/yacht/.meta/tests.toml
  exercises/practice/yacht/src/yacht.art
  exercises/practice/yacht/tester.art
  exercises/practice/yacht/tests/test-yacht.art
Labels: x:module/practice-exercise, x:rep/large

#60 Add `perfect-numbers` exercise
  config.json
  exercises/practice/perfect-numbers/.docs/instructions.md
  exercises/practice/perfect-numbers/.meta/config.json
  exercises/practice/perfect-numbers/.meta/src/example.art
  exercises/practice/perfect-numbers/.meta/tests.toml
  exercises/practice/perfect-numbers/src/perfect-numbers.art
  exercises/practice/perfect-numbers/tester.art
  exercises/practice/perfect-numbers/tests/test-perfect-numbers.art
Labels: x:module/practice-exercise, x:rep/large
