Repository exercism/arturo, pull requests merged in 2025-01, with the labels that each got.

#123 Draft space-age instructions append
  exercises/practice/space-age/.docs/instructions.append.md
Labels: x:rep/small, x:module/practice-exercise, x:type/docs

#130 Add `kindergarten-garden`
  config.json
  exercises/practice/kindergarten-garden/.docs/instructions.md
  exercises/practice/kindergarten-garden/.docs/introduction.md
  exercises/practice/kindergarten-garden/.meta/config.json
  exercises/practice/kindergarten-garden/.meta/src/example.art
  exercises/practice/kindergarten-garden/.meta/tests.toml
  exercises/practice/kindergarten-garden/src/kindergarten-garden.art
  exercises/practice/kindergarten-garden/tester.art
  exercises/practice/kindergarten-garden/tests/test-kindergarten-garden.art
Labels: x:module/practice-exercise, x:rep/large

#131 Add clock
  config.json
  exercises/practice/clock/.docs/instructions.md
  exercises/practice/clock/.meta/config.json
  exercises/practice/clock/.meta/src/example.art
  exercises/practice/clock/.meta/tests.toml
  exercises/practice/clock/src/clock.art
  exercises/practice/clock/tester.art
  exercises/practice/clock/tests/test-clock.art
Labels: x:module/practice-exercise, x:rep/large

#133 Sync docs, files, and metadata
  exercises/practice/acronym/.meta/config.json
  exercises/practice/atbash-cipher/.docs/instructions.md
  exercises/practice/atbash-cipher/.meta/config.json
  exercises/practice/clock/.meta/config.json
  exercises/practice/collatz-conjecture/.docs/instructions.md
  exercises/practice/collatz-conjecture/.docs/introduction.md
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/eliuds-eggs/.docs/introduction.md
  exercises/practice/hamming/.docs/instructions.md
  exercises/practice/hamming/.docs/introduction.md
  exercises/practice/kindergarten-garden/.meta/config.json
  exercises/practice/luhn/.meta/config.json
  exercises/practice/phone-number/.docs/introduction.md
  exercises/practice/proverb/.meta/config.json
  exercises/practice/queen-attack/.meta/config.json
  exercises/practice/word-count/.meta/config.json
Labels: x:rep/tiny, x:action/sync

#134 Add `bottle-song`
  config.json
  exercises/practice/bottle-song/.docs/instructions.md
  exercises/practice/bottle-song/.meta/config.json
  exercises/practice/bottle-song/.meta/src/example.art
  exercises/practice/bottle-song/.meta/tests.toml
  exercises/practice/bottle-song/src/bottle-song.art
  exercises/practice/bottle-song/tester.art
  exercises/practice/bottle-song/tests/test-bottle-song.art
Labels: x:module/practice-exercise, x:rep/large

#135 Add `house`
  config.json
  exercises/practice/house/.docs/instructions.md
  exercises/practice/house/.meta/config.json
  exercises/practice/house/.meta/src/example.art
  exercises/practice/house/.meta/tests.toml
  exercises/practice/house/src/house.art
  exercises/practice/house/tester.art
  exercises/practice/house/tests/test-house.art
Labels: x:module/practice-exercise, x:rep/large

#136 Sync problem-specifications files
  exercises/practice/bottle-song/.meta/config.json
  exercises/practice/house/.meta/config.json
  exercises/practice/luhn/.docs/instructions.md
  exercises/practice/luhn/.docs/introduction.md
  exercises/practice/pascals-triangle/.docs/introduction.md
Labels: x:rep/tiny, x:action/sync

#137 Sync problem-specifications tests
  exercises/practice/bob/.meta/tests.toml
  exercises/practice/bob/tests/test-bob.art
  exercises/practice/protein-translation/.meta/tests.toml
  exercises/practice/protein-translation/tests/test-protein-translation.art
Labels: x:rep/tiny, x:action/sync

#138 Add `twelve-days`
  config.json
  exercises/practice/twelve-days/.docs/instructions.md
  exercises/practice/twelve-days/.meta/config.json
  exercises/practice/twelve-days/.meta/src/example.art
  exercises/practice/twelve-days/.meta/tests.toml
  exercises/practice/twelve-days/src/twelve-days.art
  exercises/practice/twelve-days/tester.art
  exercises/practice/twelve-days/tests/test-twelve-days.art
Labels: x:module/practice-exercise, x:rep/large

#139 Add `isbn-verifier`
  config.json
  exercises/practice/isbn-verifier/.docs/instructions.md
  exercises/practice/isbn-verifier/.meta/config.json
  exercises/practice/isbn-verifier/.meta/src/example.art
  exercises/practice/isbn-verifier/.meta/tests.toml
  exercises/practice/isbn-verifier/src/isbn-verifier.art
  exercises/practice/isbn-verifier/tester.art
  exercises/practice/isbn-verifier/tests/test-isbn-verifier.art
Labels: x:module/practice-exercise, x:rep/large

#140 Add `matrix`
  config.json
  exercises/practice/matrix/.docs/instructions.md
  exercises/practice/matrix/.meta/config.json
  exercises/practice/matrix/.meta/src/example.art
  exercises/practice/matrix/.meta/tests.toml
  exercises/practice/matrix/src/matrix.art
  exercises/practice/matrix/tester.art
  exercises/practice/matrix/tests/test-matrix.art
Labels: x:module/practice-exercise, x:rep/large

#141 Add `transpose`
  config.json
  exercises/practice/transpose/.docs/instructions.md
  exercises/practice/transpose/.meta/config.json
  exercises/practice/transpose/.meta/src/example.art
  exercises/practice/transpose/.meta/tests.toml
  exercises/practice/transpose/src/transpose.art
  exercises/practice/transpose/tester.art
  exercises/practice/transpose/tests/test-transpose.art
Labels: x:module/practice-exercise, x:rep/large

#142 exercises/practice/anagram: add an append with instructions about the order of the return values
  exercises/practice/anagram/.docs/instructions.append.md
Labels: x:type/docs, x:rep/tiny

#143 Add `nth-prime`
  config.json
  exercises/practice/nth-prime/.docs/instructions.md
  exercises/practice/nth-prime/.meta/config.json
  exercises/practice/nth-prime/.meta/src/example.art
  exercises/practice/nth-prime/.meta/tests.toml
  exercises/practice/nth-prime/src/nth-prime.art
  exercises/practice/nth-prime/tester.art
  exercises/practice/nth-prime/tests/test-nth-prime.art
Labels: x:module/practice-exercise, x:rep/large

#144 Add `sieve`
  config.json
  exercises/practice/sieve/.docs/instructions.md
  exercises/practice/sieve/.docs/introduction.md
  exercises/practice/sieve/.meta/config.json
  exercises/practice/sieve/.meta/src/example.art
  exercises/practice/sieve/.meta/tests.toml
  exercises/practice/sieve/src/sieve.art
  exercises/practice/sieve/tester.art
  exercises/practice/sieve/tests/test-sieve.art
Labels: x:module/practice-exercise, x:rep/large

#145 Add `food-chain`
  config.json
  exercises/practice/food-chain/.docs/instructions.md
  exercises/practice/food-chain/.meta/config.json
  exercises/practice/food-chain/.meta/src/example.art
  exercises/practice/food-chain/.meta/tests.toml
  exercises/practice/food-chain/src/food-chain.art
  exercises/practice/food-chain/tester.art
  exercises/practice/food-chain/tests/test-food-chain.art
Labels: x:module/practice-exercise, x:rep/large
