Repository exercism/arturo, pull requests merged in 2025-07, with the labels that each got.

#163 Sync docs
  exercises/practice/luhn/.docs/instructions.md
  exercises/practice/protein-translation/.docs/instructions.md
Labels: x:rep/tiny, x:action/sync

#165 Update space-age instructions.append doc
  exercises/practice/space-age/.docs/instructions.append.md
Labels: x:type/docs, x:rep/tiny

#166 Add `two-bucket`
  config.json
  exercises/practice/two-bucket/.docs/instructions.md
  exercises/practice/two-bucket/.meta/config.json
  exercises/practice/two-bucket/.meta/src/example.art
  exercises/practice/two-bucket/.meta/tests.toml
  exercises/practice/two-bucket/src/two-bucket.art
  exercises/practice/two-bucket/tester.art
  exercises/practice/two-bucket/tests/test-two-bucket.art
Labels: x:module/practice-exercise, x:rep/large

#175 Rework exercise difficulties
  config.json
Labels: x:module/practice-exercise, x:rep/large

#177 add `change`
  config.json
  exercises/practice/change/.docs/instructions.md
  exercises/practice/change/.docs/introduction.md
  exercises/practice/change/.meta/config.json
  exercises/practice/change/.meta/src/example.art
  exercises/practice/change/.meta/tests.toml
  exercises/practice/change/src/change.art
  exercises/practice/change/tester.art
  exercises/practice/change/tests/test-change.art
Labels: x:module/practice-exercise, x:rep/large

#178 Add missing invalidators
  exercises/practice/change/.meta/config.json
  exercises/practice/tournament/.meta/config.json
Labels: x:rep/tiny, x:action/sync

#181 Add `diamond`
  config.json
  exercises/practice/diamond/.docs/instructions.md
  exercises/practice/diamond/.meta/config.json
  exercises/practice/diamond/.meta/src/example.art
  exercises/practice/diamond/.meta/tests.toml
  exercises/practice/diamond/src/diamond.art
  exercises/practice/diamond/tester.art
  exercises/practice/diamond/tests/test-diamond.art
Labels: x:module/practice-exercise, x:rep/large

#180 Instructions append for ETL
  exercises/practice/etl/.docs/instructions.append.md
Labels: x:module/practice-exercise, x:type/docs, x:rep/tiny
